.company-page-wrap
    .mb-48px
        h2 What is #{company}?
        p xxxxccvf
            | [company name] was founded in [Founded where?] in [year] by [&rcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&acy;&yacy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&yacy;, &iecy;&scy;&lcy;&icy; &iecy;&scy;&tcy;&softcy;]. Now it works as a [type] company with a staff of [number of empoyees] employees. The headquarters is located in [Head Quoters].
    p.h4.pb-2.mb-2.text-uppercase.colorOrange In what states can you find [company name]?
    p [company name] provides insurance services in [number] states:
    .row.mb-64px
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Idaho.svg.png' alt='ID')
                | Idaho
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Iowa-StateSeal.svg.png' alt='ID')
                | Iowa
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Alabama.svg.png' alt='ID')
                | Alabama
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Alaska-StateSeal.svg.png' alt='ID')
                | Alaska
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Arizona-StateSeal.svg.png' alt='ID')
                | Arizona
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Arkansas.svg.png' alt='ID')
                | Arkansas
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Idaho.svg.png' alt='ID')
                | Idaho
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Iowa-StateSeal.svg.png' alt='ID')
                | Iowa
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Alabama.svg.png' alt='ID')
                | Alabama
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Alaska-StateSeal.svg.png' alt='ID')
                | Alaska
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Arizona-StateSeal.svg.png' alt='ID')
                | Arizona
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Arkansas.svg.png' alt='ID')
                | Arkansas
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Idaho.svg.png' alt='ID')
                | Idaho
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Iowa-StateSeal.svg.png' alt='ID')
                | Iowa
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Alabama.svg.png' alt='ID')
                | Alabama
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Alaska-StateSeal.svg.png' alt='ID')
                | Alaska
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Arizona-StateSeal.svg.png' alt='ID')
                | Arizona
        .col-6.col-md-4.col-lg-2.text-dark.mb-2
            .state-company-icon-box
                img(src='https://www.usainsurancerate.com/wp-content/uploads/Seals/800px-Seal_of_Arkansas.svg.png' alt='ID')
                | Arkansas
    h3.h2.text-center.mb-32px What are [company name] ratings?
    .row.company-box-rating-wrap.mb-32px
        .col-6.col-md-4.col-lg-2.mb-3
            .company-box-rating
                div 1989
                span year founded
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div Good
                span financial strength
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div 9999+
                span Long Time ICR
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div XXXX
                span moodies
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div 954
                span bbb
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div A++
                span Claims Rating
        .col-6.col-md-4.col-lg-3.mb-3
            .company-box-rating
                div A++
                span user satisfaction
    .row.mb-64px
        .col-md-6.mb-32px
            h3.h4 What type of insurance can you purchase in [company name]?
            p [company name] offer you different insurance products, such as:
            ul.company-page-list
                li insurance product
                li insurance product
                li insurance product
                li insurance product
                li insurance product
                li insurance product
        .col-md-6.mb-32px
            h3.h4 What are car insurance rates in [company name]?
            p
                | The average price of auto insurance in [company name] is about [company average]. Usually rates vary by state. You can find the cheapest offers in [state] where the monthly average rate is
                strong.orange-strong [lowest price]
                | . The most expensive state average is
                strong.orange-strong [biggest price]
                |  in [state].
                |         table
            ul.company-page-list
                li insurance product
                li insurance product
                li insurance product
        .col-md-6.mb-32px
            h4.h4 What discounts provides [company name]?
            ul.company-page-list
                li insurance product
                li insurance product
                li insurance product
        .col-md-6.mb-32px
            h4.h4 [Company name] contact info:
            table.table
                tr
                    td website
                    td
                        a(href='#') www.leningrad.spb.ru
                tr
                    td phone
                    td
                        a(href='#') +380665300839
                tr
                    td address
                    td address address address
